Source: labbe-icons-ng
Section: x11
Priority: optional
Maintainer: Mick Amadio <01micko@gmx.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Homepage: https://github.com/01micko/labbe-icons-ng
Vcs-Git: https://github.com/01micko/labbe-icons-ng.git
Vcs-Browser: https://github.com/01micko/labbe-icons-ng

Package: labbe-icons-bark
Architecture: all
Depends: ${misc:Depends}, librsvg2-common, material-solarized-suruplusplus-icons-bark
Recommends: gtk-update-icon-cache
Description: icons of the labbe-icons-bark icon set
 This is the bark flavour icons set.

Package: labbe-icons-sage
Architecture: all
Depends: ${misc:Depends}, librsvg2-common, material-solarized-suruplusplus-icons-sage
Recommends: gtk-update-icon-cache
Description: icons of the labbe-icons-sage icon set
 This is the sage flavour icons set.

Package: labbe-icons-oomox
Architecture: all
Depends: ${misc:Depends}, librsvg2-common, material-solarized-suruplusplus-icons-oomox
Recommends: gtk-update-icon-cache
Description: icons of the labbe-icons-oomox icon set
 This is the oomox flavour icons set.

Package: labbe-icons-telinkrin
Architecture: all
Depends: ${misc:Depends}, librsvg2-common, material-solarized-suruplusplus-icons-telinkrin
Recommends: gtk-update-icon-cache
Description: icons of the labbe-icons-telinkrin icon set
 This is the telinkrin flavour icons set.

Package: labbe-icons-grey
Architecture: all
Depends: ${misc:Depends}, librsvg2-common, material-solarized-suruplusplus-icons-grey
Recommends: gtk-update-icon-cache
Description: icons of the labbe-icons-grey icon set
 This is the grey flavour icons set.
